body {
  font-size: 16px;
  background-color: #154883;
}
.header{
 
border-bottom:10px solid black; 
border:dark; 
text-align:center;
height: 200px;
width: 100%;
display:flex;
align-content:space-around;
flex-direction:column;
}

.header-h1{
  align-content: space-between;
  font-family: 'Gajraj One', cursive;
  font-size: 50px;


}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #e11b1b;
  color: rgb(232, 219, 219);
  opacity: 60%;
}

.present {
  background-color: #12bd2e;
  color: white;
  opacity: 60%;
}

.future {
  background-color: #51545c;
  color: white;
  opacity:60%;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; 
  }
}